:root {
	--main-color: #9D22DB;
	--color-2: #B836EE;
	--card-border: 1px solid #9d22db30;
	--card-bg: #16041e52;
	--h1-size: 51px;
	--h2-size: 36px;
	--h3-size: 21px;
}


li {
    list-style: none;
}


html {
	scroll-behavior: smooth;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	transition: 0.5s;
}

body {
	font-family: Montserrat, sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 36px;
	background: #0F0315;
	color: #ffffffe0;
}

a, a:hover, a:focus {
	text-decoration: none;
	color: var(--main-color);
}

nav {
	color: #ffff;
	margin-bottom: 6rem;
	padding: 2rem 0rem 2rem 0rem;
	width: 100%;
	text-align: right;
}

nav a {
	margin: 0 10px;
	padding: 10px;
	color: #fff;
	position: relative;
	z-index: 11111;
}

nav a:before {
    content: "";
    position: absolute;
    left: 0px;
    width: 0%;
    height: 1px;
    background: var(--main-color);
    transition: all 0.9s;
    opacity: 0;
}

nav a:hover:before {
    width: 100%;
    transition: all 0.9s;
    opacity: 0.9;
}


.container {
	max-width: 1090px;
	margin: auto;
}

.flex {
	display: flex;
	justify-content: start;
	gap: 20px;
	flex-wrap: wrap;
}

.header-welcome {
	flex: 1;
}

.img-welcome {
	flex: 2;
	height: 500px;
	background: url(../images/top.svg) top right no-repeat;
	background-position: -51px -77px;
	animation: animated-top 4s cubic-bezier(0.51, 0.26, 0.57, 1) infinite;
}

.header-welcome h1 {
	font-size: var(--h1-size);
	line-height: 60px;
	letter-spacing: -2px;
	font-weight: 600;
	margin: 2rem 0rem;
}

.header-welcome p {
	font-size: 18px;
}

button.btn {
	padding: 1.3rem 3rem;
	background: var(--main-color);
	color: #fff;
	font-family: Montserrat, sans-serif;
	border-radius: 6px;
	min-width: 81%;
	font-size: .90rem;
	margin: 3rem 0rem;
	cursor: pointer;
	border: 1px solid #0000;
}

.header-welcome h6 {
	font-weight: 500;
	font-size: .8rem;
	position: relative;
}

header {
	margin-bottom: 6rem;
}

.tecs {
	justify-content: center;
	gap: 40px;
	margin-bottom: 10rem;
}

.tecs img {
	opacity: 0.3;
	cursor: -webkit-grab;
	width: 50px;
}

.tecs img:hover {
	opacity: 0.9;
}

.img-who {
	flex: 1 1 21%;
	position: relative;
}

.more-about-me {
	flex: 1 1 35%;
	position: relative;
	z-index: 111111;
}

.more-about-me h2, .sec-title h2 {
	font-size: var(--h2-size);
	margin-bottom: 1rem;
	font-weight: 600;
	letter-spacing: -1px;
	position: relative;
}

.more-about-me h2:before, .sec-title h2:before {
	content: "";
	height: 5px;
	width: 11%;
	background: var(--main-color);
	position: absolute;
	left: 0px;
	top: -20px;
}

.more-about-me p {
    line-height: 28px;
    margin-bottom: 2rem;
    font-size: 0.91rem;
    padding: 1rem 6rem 1.2rem 0rem;
    text-align: left;
}

.social-m img {
	margin: 0rem 1rem 0rem 0rem;
	opacity: 0.3;
}

.social-m img:hover {
	opacity: 1;
}

.learning-tecs {
	height: 0px;
	opacity: 0.8;
	overflow: hidden;
}

.learning-tecs.active {
	height: 200px;
	opacity: 0.9;
	height: 190px;
}

.learning-tecs img {
	margin: 0 1rem;
}

.card {
    flex: 1 1 30%;
    border-radius: 5px;
    margin-bottom: 0rem;
    position: relative;
    z-index: 1;
    background: var(--card-bg);
    border: var(--card-border);
}

.image-card {
	height: 200px;
	position: relative;
	overflow: hidden;
	border-radius: 6px 6px 0px 0px;
}

.card-body {
	padding: 1.4rem;
	font-size: .95rem;
}

.card-body h5 {
	font-weight: 400;
	font-size: .7rem;
	color: #ffffffd1;
	margin-bottom: .5rem;
	line-height: 22px;
}

.card-body h3 {
	font-size: var(--h3-size);
	font-weight: 300;
	margin-bottom: .2rem;
	color: #fff;
}

.card-body p {
	line-height: 21px;
	display: block;
	font-size: .80rem;
	color: #ffffffab;
}

.image-card .viewmore {
    position: relative;
    bottom: -110px;
    left: 15px;
    opacity: 0;
    padding: 0.8rem 0.8rem;
    font-size: .8rem;
    font-weight: 500;
    background: var(--main-color);
    color: #fff;
    font-family: Montserrat, sans-serif;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid #0000;
    margin: 7px 1px 3px 10px;
}

.image-card .viewmore:hover {
    background: #110318ad;
}


.card:hover .image-card .viewmore {
	opacity: 1;
	bottom: 100px;
}

.who {
	margin-bottom: 9rem;
	padding: 3rem;
	border-radius: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	padding-top: 6rem;
	background: var(--card-bg);
	border: var(--card-border);
}

.image-card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.header-welcome h6:before {
	content: "";
	height: 5px;
	width: 22%;
	background: var(--main-color);
	position: absolute;
	left: 0px;
	top: 33px;
}

button.btn:hover {
	background: #ffffff0d;
	border: 1px solid var(--main-color);
	min-width: 90%;
}

button.viewmore:hover {
	background: #7311a5;
	border: 1px solid var(--main-color);
}

.card-jobs {
    background: var(--card-bg);
    border: var(--card-border);
    box-sizing: border-box;
    border-radius: 9px;
    padding: 1.5rem;
    position: relative;
    z-index: 1;
    color: #fff;
    flex: 1 1 38%;
} 

.card-jobs span {
    padding: 0.0rem 0.5rem;
    font-size: .8rem;
    font-weight: 500;
    color: #fff;
    font-family: Montserrat, sans-serif;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 10px;
    display: block;
    width: max-content;
    background: #ffffff0d;
}

.card-jobs:hover {
    opacity: 0.6;
    color: #fff;
}


.card-jobs h3 {
	font-size: 1.5rem;
	font-weight: 500;
	margin-bottom: 0.3rem;
}

.card-jobs p {
	line-height: 25px;
	font-size: .9rem;
	font-weight: 400;
}

.projects {
	margin-bottom: 10rem;
}

.img-who:before {
	content: "";
	background: url(../images/elements.svg) top right no-repeat;
	width: 47rem;
	height: 573px;
	position: absolute;
	right: -6rem;
	top: -4rem;
}

.img-who img {position: relative;z-index: 11;width: 94%;}

.image-card .viewmore:hover {
	min-width: 39%;
}

.tecs img:hover, .social-m img:hover {
	transform: scale(1.2);
}

header:before {
	margin-bottom: 10rem;
	background: url(../images/gradient.svg) top left no-repeat;
	content: "";
	position: absolute;
	left: -20rem;
	height: 54rem;
	width: 100%;
	top: 0;
}

.container.top {
    max-width: 1100px;
    position: relative;
    z-index: 111;
}

.sec-title {
	width: 100%;
	margin-bottom: 3rem;
	position: relative;
}

.projects .sec-title:before {
	position: absolute;
	content: "";
	width: 55%;
	left: -576px;
	height: 746px;
	background: url(../images/elements2.svg) top center no-repeat;
	top: -279px;
}

section.jobs {
	margin-bottom: 11rem;
}

footer {
    width: 100%;
    bottom: 0;
    padding: 30px;
    text-align: center;
    position: relative;
    z-index: 111;
    background: var(--card-bg);
    border: var(--card-border);
}

.img-who:before {
	animation: animatex 4s cubic-bezier(0.51, 0.26, 0.57, 1) infinite;
}

.image-card .viewmore:hover {
    min-width: 25%;
}

 

@keyframes animated-top {
	0% {
		transform: rotateY(0deg);
	}

	60% {
		transform: rotateY(15deg);
	}

	100% {
		transform: rotateY(0deg);
	}
}
@keyframes animatex {
	0% {
		transform: rotateX(15deg);
	}

	60% {
		transform: rotateX(25deg);
	}

	100% {
		transform: rotateX(15deg);
	}
}

.learning-tecs img {
	animation: animate 4s cubic-bezier(0.51, 0.26, 0.57, 1) infinite;
}

@keyframes animate {
	0% {
		opacity: 0.3;
	}

	60% {
		opacity: 1;
	}

	100% {
		opacity: 0.3;
	}
}

@media screen and (max-width: 800px) {
	.flex {
		flex-direction: column;
	}

	.container, .container.top {
		width: 90%;
		margin: auto;
	}

	nav {
		text-align: center;
	}

	nav a {
		padding: 0px;
	}

	section.tecs.flex {
		flex-direction: row;
		gap: 29px;
		margin-bottom: 9rem;
	}

	.img-who img {
		width: 100%;
		height: auto;
		padding: 0;
	}

	.img-who:before {
		width: 100%;
		margin-top: -8rem;
		right: 11rem;
	}

	button.tecs {
		position: relative;
		z-index: 11;
	}

	.who {
		margin-bottom: 15rem;
	}

	.more-about-me {
		margin-bottom: 4rem;
	}

	.jobs:before {
		height: 100%;
	}

	header {
		margin-bottom: 4rem;
	}

	.more-about-me p {
		padding: 1rem 0rem 1rem 0rem;
	}

	.jobs:before {
		height: 1100px;
		width: 100%;
	}

	footer {
		flex-direction: column;
		display: flex;
		align-items: center;
	}
	.card {
		width: 100%;
	}
	
	.tecs li {
		flex: 1;
	}

	.tecs {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		flex-direction: row;
	}
	
	header:before {
		width: 100%;
		left: 0;
		background-size: cover;
		opacity: 0.34;
	}

	
}
